@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.parallax {
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  position: absolute;
  object-fit: cover;
  top: 0;
  transform: translateZ(-10px) scale(2);
}

@layer base {
  h1 {
    @apply text-4xl font-medium mb-7;
  }

  h1::after, .highlighted::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: theme('colors.gold-dark');
    margin-top: 10px;
  }

  p {
    @apply mb-2 text-lg leading-6;
  }

  .container {
    max-width: 1150px;
  }

  ul {
    @apply text-lg list-disc list-outside marker:text-gold-dark;
  }

  ul li {
    @apply pl-3;
  }

  ol li {
    @apply mb-2;
  }

  .list-decimal-special li {
    counter-increment: li;
    position: relative;
  }

  .list-decimal-special li:before {
    content: counter(li) '.';
    @apply text-gold;
    left: -2em;
    position: absolute;
    font-weight: 600;
    font-size: 14px;
    top: 2px;
  }
}

@layer components {
  .progress > div {
    position: relative;
    height: 48px;
    width: 48px;
    margin-bottom: 80px;
  }

  .progress .step-n {
    @apply flex items-center justify-center w-full h-full rounded-full bg-main-blue;
  }

  .progress .date {
    position: absolute;
    @apply text-sm font-medium text-main-blue;
  }

  .progress > div:nth-child(odd) .date {
    @apply -top-8;
  }

  .progress > div:nth-child(even) .date {
    @apply -bottom-8;
  }

  .quote {
    position: relative;
  }
  .quote::before {
    position: absolute;
    top: -22px;
    left: -110px;
    content: '';
    display: block;
    width: 85px;
    height: 60px;
    background: url('../images/quotes.png') center no-repeat;
  }
}
